# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
TODO.md

# env
.env
.envrc
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store

.npmrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
